
<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid bg-primary">
      <a class="nav-link" routerLink="/home" routerLinkActive="active">E-Commerce</a>
      <button class="navbar-toggler " type="button" data-bs-toggle="collapse" data-bs-target="#navbarText"
          aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
          <i class="fa-solid fa-cart-shopping"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarText">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                  <a class="nav-link text-white" routerLink="/local-product" routerLinkActive="active">Products</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link text-white" routerLink="/products" routerLinkActive="active" >AddProduct</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link text-white" routerLink="/login" routerLinkActive="active"> Sign in</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link text-white" routerLink="/register" routerLinkActive="active">Sign up</a>
              </li>
          </ul>
          <span class="navbar-text">
          </span>
      </div>
  </div>
</nav>







